* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', Helvetica, Arial, sans-serif;
    background:#35BBE5;
    color: white;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.container {
    max-width: 800px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.header {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
    width: 100%;
}

.searchbar, .filterbox, .slider {
    background: white;
    color: #239cc2;
    border: 0;
    border-radius:8px;
    padding: 5px;
}

.searchbar {
    flex-grow: 1;
    margin-left: 20px;
}

.filterbox {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.filterbox * {
    background:transparent;
    color: #239cc2;
}

.filterpill {
    padding: 5px;
    background: green;
    margin: 5px;
    border-radius: 8px;
    color: white;
    max-height: 30px;
}

.filterpill * {
    background: transparent;
    height: 8px;
    margin-left: 5px;
}

.filterbox .filterpill {
    opacity: .5;
}

.filterpill:hover {
    cursor: pointer;
}

.selected {
    fill-opacity: 100%;
}

.filterinput, .filterlabel {
    padding: 5px;
    margin: 5px;
}

.mobilesort {
    display: none;
}

.costmobile, .sellmobile {
    display:none;
    background: transparent;
    font-size: .7em;
}

/* TABLE CSS */
.itemstable {
    width: 100%;
    text-align: left;
    vertical-align: middle;
    border-collapse: collapse;
    margin-bottom: 10px;
    table-layout: fixed;
}

.c1 {
    width: 6%;
}

.c2, .c3, .c5 {
    width: 12%;
}

.c4 {
    width: 28%;
}

.c6, .c7, .c8 {
    width: 10%;
}

.sort:hover {
    cursor: pointer;
}

.fas {
    background: inherit;
    color: inherit;
}

.fa-sort-up, .fa-sort-down {
    margin-left: 10px;
}

.details {
    display: none;
    margin-top: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.blue-row {
    background: #eafaff;
}

.details-cell {
    text-align: center!important;
    border-top: 1px solid white;
}

.expanded {
    margin-bottom: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.titles {
    white-space: nowrap;
}

thead th {
    padding: 0px 10px;
    margin-bottom: 5px;
    text-align: center;
    overflow: hidden;
}

tbody, thead, tr {
    display: inline-table;
    width: 100%;
    margin-bottom: 5px;
}

tbody tr {
    background: #eafaff;
    border-radius: 8px;
    table-layout: fixed;
}

tbody td {
    background: transparent;
    color: #239cc2;
    overflow: hidden; 
    text-align: center;
}

.months {
    width: 80px;
    background: transparent;
    color: #239cc2;
}

.is-present, .not-present {
    font-family: 'Courier New', Courier, monospace;
    background: transparent;
    color: #239cc2;
}

.is-present {
    font-weight: bolder;
}

td:not(:last-child) {
    border-right: 2px solid white;
}

.purple-row {
    background: #EDEAFF;
}

.purple-row td {
    color: #2b1d80;
}

.clickable {
    cursor: pointer;
}

tr td:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

tr th:first-child {
    border-right: 0px;
}

tr td:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    text-align: right;
    padding-right: 5px; 
}

tr td:nth-last-child(2) {
    text-align: right;
    padding-right: 5px; 
}

.morebutton {
    width: 100%;
    margin-bottom: 20px;
}

.more {
    width: 100%;
    height: 30px;
    background: white;
    opacity: .75;
    color: #239cc2;
    border-radius: 8px;
}

@media (max-width: 760px) {
/* Can use this for mobile */

    div {
        font-size: .9em;
    }
    
    .c5, .c7, .c8 {
        width: 12%;
    }

    .c6 {
        width: 14%;
    }

    .c5, .c7, .c8 {
        overflow: hidden;
        white-space: nowrap;
    }

    table td:nth-of-type(1){
        display:none;
    }
    table td:nth-of-type(2){
        display:none;
    }
    table td:nth-of-type(3){
        display:none;
    }

    table td:last-child, table td:nth-last-child(2) {
        text-align: center;
    }

    tr {
        border-radius: 0px!important;
    }

    th {
        display: none;
    }
   
    .header {
        flex-flow: column;
        margin: 5px auto;
    }

    .searchbar {
        width: 100%;
        margin: 0 auto;
        border-radius: 0px;
    }

    .filterbox {
        margin: 5px auto;
        border-radius: 0px;
    }

    .filterpill {
        padding: 5px;
        margin: 2px;
        max-height: 24px;
    }

    .months {
        width: 60px;
        background: transparent;
        color: #239cc2;
    }

    .mobilesort {
        display: flex;
        justify-content: center;
    }

    .costmobile {
        display: block;
        color: red;
    }

    .sellmobile {
        display: block;
        color: green;
    }
}