* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', Helvetica, Arial, sans-serif;
    background:#35BBE5;
    color: white;
}

.container {
    max-width: 800px;
}

.header {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
    width: 100%;
}

.searchbar, .filterbox, .slider {
    background: white;
    color: #239cc2;
    border: 0;
    border-radius:8px;
    padding: 5px;
}

.searchbar {
    flex-grow: 1;
    margin-left: 20px;
}

.filterbox {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.filterpill {
    padding: 5px;
    background: green;
    margin: 5px;
    border-radius: 8px;
}

.mobilesort {
    display: none;
}

.costmobile, .sellmobile {
    display:none;
    background: transparent;
    font-size: .7em;
}

.itemstable {
    width: 100%;
    text-align: left;
    border-spacing: 0 5px; 
}

thead th {
    padding: 0 10px;
}

tbody tr {
    background: #eafaff;
}

tbody td {
    background: transparent;
    color: #239cc2;
    padding: 10px;
    
}

tbody td:not(:last-child) {
    border-right: 2px solid white;
}

tbody tr:nth-child(even) {
    background: #edeaff;
}

tbody tr:nth-child(even) td {
    color: #2b1d80;
}

tr td:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

tr td:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    text-align: right;
}

tr td:nth-last-child(2) {
    text-align: right;
}

@media (max-width: 576px) {
/* Can use this for mobile */

    div {
        font-size: .9em;
    }

    table td:nth-of-type(1), th:nth-of-type(1) {
        display:none;
    }
    table td:nth-of-type(2), th:nth-of-type(2) {
        display:none;
    }

    tr td:last-child {
        border-radius: 0px;
    }

    th {
        display: none;
    }

    .header {
        flex-flow: column;
        margin: 5px auto;
    }

    .searchbar {
        width: 100%;
        margin: 0 auto;
        border-radius: 0px;
    }

    .filterbox {
        margin: 5px auto;
        border-radius: 0px;
    }

    .filterpill {
        padding: 5px;
        margin: 2px;
    }

    .mobilesort {
        display: flex;
        justify-content: center;
    }

    .costmobile {
        display: block;
        color: red;
    }

    .sellmobile {
        display: block;
        color: green;
    }
}