<!DOCTYPE html>
<html>
    <head>
        <title>AC Resource Guide</title>
        <link type="text/css" rel="stylesheet" href="/static/css/index.css" />
        <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
        <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    </head>
    <body>

        <div class="container">
            <div class="header">
                <h1>AC Resource Guide</h1>
                <input class="searchbar" type="search" placeholder="search by name">
            </div>
            <div class="filterbox">
                <div class="filterpill">insects</div>
                <div class="filterpill">fossils</div>
                <div class="filterpill">fish</div>
                <div class="filterpill">clothing</div>
                <div class="filterpill">recipes</div>
                <div class="filterpill">plants</div>
                <div class="filterpill">music</div>
                <div class="filterpill">decor</div>
                <div class="filterpill">handheld</div>
                <div class="filterpill">currency</div>
                <div class="filterpill">minerals</div>
                <div class="filterpill">forage</div>
                <div class="">
                    <input type="range" min="0" max="23" class="timeofday slider">
                    <div class="timeofday_value"></div>
                </div>
                <div class="">
                    <input type="range" min="1" max="12" class="timeofyear slider">
                    <div class="timeofyear_value"></div>
                </div>
            </div>
            <div class="mobilesort">
                <div class="filterpill">Sort by name</div>
                <div class="filterpill">Sort by cost</div>
                <div class="filterpill">Sort by sell</div>
            </div>
            <table class="itemstable">
                <thead>
                    <tr class="">
                        <th>type</th>
                        <th>subtype</th>
                        <th>name</th>
                        <th>time of day</th>
                        <th>time of year</th>
                        <th>cost</th>
                        <th>sell</th>
                    </tr>
                </thead>
                <tbody class="js-items">
                <!--here's where the rows will go when they are generated but let's make a sample-->
                </tbody>
            </table>
        </div>

        <script type="text/javascript" src="/static/js/index.js"></script>
    </body>
</html>