<!DOCTYPE html>
<html>
    <head>
        <title>AC Resource Guide</title>
        <link type="text/css" rel="stylesheet" href="/static/css/index.css" />
        <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
        <script type="text/javascript" src="/static/js/jquery.min.js"></script>
        <script src="https://kit.fontawesome.com/eb1b9b86ff.js" crossorigin="anonymous"></script>
    </head>
    <body>

        <div class="container">
            <div class="header">
                <h1>AC Resource Guide</h1>
                <input class="searchbar js-searchbar" type="search" placeholder="search by name">
            </div>
            <div class="filterbox">
                <div class="filterpill js-insect insect">insect</div>
                <div class="filterpill js-fossil fossil">fossil</div>
                <div class="filterpill js-fish fish">fish</div>
                <div class="filterpill js-clothing clothing">clothing</div>
                <div class="filterpill js-consumable consumable">consumable</div>
                <div class="filterpill js-mineral mineral">mineral</div>
                <div class="filterpill js-music music">music</div>
                <div class="filterpill js-decor decor">decor</div>
                <div class="filterpill js-handheld handheld">handheld</div>
                <div class="filterpill js-currency currency">currency</div>
                <div class="filterpill js-award award">award</div>
                <div class="filterpill js-forage forage">forage</div>
                <div>
                    <label for="time" class="filterlabel">Time (0-23):</label>
                    <input type="number" name="time" class="filterinput js-time" min="0" max="23">

                    <label for="number" class="filterlabel">Month (1-12):</label>
                    <input type="number" name="month" class="filterinput js-month" min="1" max="12">
                </div>
            </div>
            <div class="mobilesort">
                <div class="filterpill js-name">name<i class="fas fa-sort-up sort-arrows js-name-arrows"></i></div>
                <div class="filterpill js-cost">cost<i class="fas fa-sort-up sort-arrows js-cost-arrows"></i></div>
                <div class="filterpill js-sell">sell<i class="fas fa-sort-up sort-arrows js-sell-arrows"></i></div>
            </div>
            <table class="itemstable">
                <thead>
                    <tr class="titles">
                        <th class="c1"></th>
                        <th class="c2">type</th>
                        <th class="c3">subtype</th>
                        <th class="c4 js-name sort">name<i class="fas fa-sort-up sort-arrows js-name-arrows"></i></th>
                        <th class="c5">time</th>
                        <th class="c6">months</th>
                        <th class="c7 js-cost sort">cost<i class="fas fa-sort-up sort-arrows js-cost-arrows"></i></th>
                        <th class="c8 js-sell sort">sell<i class="fas fa-sort-up sort-arrows js-sell-arrows"></i></th>
                    </tr>
                </thead>
                <tbody id="js-items">
                </tbody>
            </table>
            <div class="js-morebutton morebutton">
                <button class='js-more more'>View More</button>
            </div>
        </div>

        <script type="text/javascript" src="/static/js/index.js"></script>
    </body>
</html>